## Default .htaccess file


<IfModule mod_headers.c>

    <FilesMatch "index.(html|htm)$">
        header unset ETag
        header set cache-control "no-cache"
    </FilesMatch>

</IfModule>

 <IfModule mod_headers.c>
        SetEnvIf Origin "http(s)?://(www\.)?(ship.unisco.com|demo.unisco.com|shipstage.unisco.com|wise.logisticsteam.com)$" AccessControlAllowOrigin=$0
        Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
        Header set Access-Control-Allow-Headers "Keep-Alive,User-Agent,X-Requested-With,Cache-Control,Content-Type,User-Authorization"
        Header set Access-Control-Allow-Methods "POST,GET,OPTIONS,DELETE,PUT"
        Header set X-Frame-Options DENY
</IfModule>